h1,
h2,
.fallback {
    text-align: center;
    color: white;
}

h1 {
    font-size: 1.5rem;
    margin: 2rem 0 1rem;
    font-weight: normal;
    color: #cf54a6;
}

h2 {
    font-weight: bold;
    font-size: 3rem;
}